<form action="" method="post">
  {% csrf_token%}
  <div class="card border-primary rounded-0">
    <div class="card-header p-0">
      <div class="bg-info text-white text-center py-2">
        <h3><i class="fa fa-envelope"></i> {% if id != null %}Редактирование контакта{% else %}Добавление контакта{% endif %}</h3>
        <p class="m-0"> {% if id != null %}Внесите изменения и нажмите сохранить{% else %}Введите данные и нажмите добавить{% endif %}</p>
      </div>
    </div>
    <div class="card-body p-3">

      <!--Body-->
      <div class="form-group form_name">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Имя</div>
          </div>
          {{ form.name }}
        </div>
      </div>
      <div class="form-group form_phone">
        <div class="input-group mb-2 spizdil">
          <div class="input-group-prepend">
            <div class="input-group-text">Телефон</div>
          </div>
          {{ form.phone }}
        </div>
        <div class="alert alert-info" style="display: none;"></div>
      </div>
      <div class="form-group form_email">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Почта</div>
          </div>
          {{ form.email }}
        </div>
      </div>
      <div class="text-center">
        {% if id != null %}<a href="#" type="button" class="btn btn-primary btn-block py-2 ok" >Сохранить</a>
        {% else %}<a href="#" type="button" class="btn btn-primary btn-block py-2 ok" >Добавить</a>{% endif %}

        <a class="btn btn-secondary btn-sm mt-2 float-right" href=" .. ">Назад</a>
      {% if id != null %}
        <a class="btn btn-danger btn-sm mt-2 float-left" href="{% url 'delete' id %}">Удалить</a>
      {% endif %}
      </div>
    </div>

  </div>

</form>


