{% extends 'face_page/layout.html' %}
{% load static %}
{% block title %}Добавление контакта{% endblock %}

{% block content %}
    <div class="container-fluid col-lg-5 col-md-10">
        {% include 'face_page/form.html' %}
    </div>
    <script src = {% static '/face_page/js/input_page.js' %}></script>
    <script>
    const saveLink = '{% url 'input_num' %}'
    </script>
{% endblock %}


