{% extends 'face_page/layout.html' %}
{% load static %}
{% block title %} Телефонная книга {% endblock %}

{% block content %}
<header class="sticky-top">
  <nav class=" container navbar col-12 navbar-expand-lg navbar-dark bg-dark ">
    <div class="container menu">
      <a class="navbar-brand" href="#">Телефонная книга</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
              aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <form class="form-inline my-2 my-md-0">
              <input id="search" class="form-control" type="text" placeholder="Поиск" aria-label="Search">
            </form>
          </li>
        </ul>
        <a class="btn btn-primary btn-sm" href="{% url 'input' %}">Добавить номер</a>
      </div>
    </div>
  </nav>
</header>

<div class="container  mt-3">
  <div class="row contacts">
    <ul class="list-group contacts" id="list">

    </ul>
  </div>
  <div class="more" >
    <a class="mt-3 mb-5 btn btn-primary btn-md" href="#" id="more">Показать больше</a>
  </div>
</div>

<script src = {% static '/face_page/js/main_page.js' %}></script>
{% endblock %}