{% extends 'face_page/layout.html' %}
{% load static %}
{% block title %}Редактировать{% endblock %}
{% block content %}
     <div class="container-fluid col-lg-5 col-md-10">
        {% include 'face_page/form.html' %}
    </div>

    <script>
        const redaktLink = '{% url 'redakt_num' %}'
        const id_num = {{id}}
        const code_val = '{{form.code.value}}'
        const phone_val = '{{form.phone.value}}'
    </script>

    <script src = {% static '/face_page/js/redakt_page.js' %}></script>
{% endblock %}