.menu_panel{
    background: lightgrey;
    display: flex;
    flex: 1 1 300px;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: row nowrap;
}
.menu_search{
    display: flex;
}

.contacts{
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    flex-flow: column nowrap;
}

.contacts_items{
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    flex-flow: row nowrap;
}

.contacts_items div{
    width: 25%;
}

.input-group-text{
    width: 98px;
    background: none;
}

.more{
    display: flex;
    justify-content: space-around;
}

.spizdil .iti{
    flex: 1 1 auto;
}

.error{
    color: red;
    margin-button: 20px;
}

.search_flag{
    width: 100%;
}